<% content_for :page_title do
  'Все новости'
end %>


<div class="container">
	<h1>Все новости</h1>
		<% if user_signed_in?&&current_user.admin? %>
		<p>
			<%= link_to 'Добавить', new_admin_whatnews_path, class: 'btn btn-primary' %>	
		</p>
	<% end %>
<!-- <table>
	<tr>
		<th>id</th>
		<th>Caption</th>
		<th>Text</th>
		<th>Tag</th>
		<th colspan="4"></th>
	</tr>

	<% @whatnews.each do |whatnew| %>
		<tr>
			<td> <%= whatnew.id %>	</td>	
			<td> <%= whatnew.caption %>	</td>
			<td> <%= truncate(whatnew.text, length: 17) %>	</td>
			<td> <%=  whatnew.tag %> 	</td>
			<td> <%= link_to 'show', whatnews_path(whatnew) %> </td>
			<td> <%= link_to 'edit', edit_admin_whatnews_path(whatnew) %> </td>
			<td> <%= link_to 'destroy', admin_whatnews_path(whatnew),
										method: :delete,
										data: { confirm: 'Are you sure?' }	%>
			</td>
		</tr>		
	<% end %>
</table>
 -->
 <% @whatnews.each do |whatnew| %>
 	<br>
 	<div class="row">
 		<div class="col-4">
 			<% unless whatnew.imagenews.present? %>
 				<%= image_tag('no_image.png') %>
 				<% else %>
 				<%= image_tag (whatnew.imagenews ),height: '164' %>
 				<% end %>
 		</div>	
 		<div class="col-8">
 			<h2><%= link_to whatnew.caption, whatnews_path(whatnew) %></h2>
 			<p class="text-muted"><%= whatnew.created_at.strftime("%d.%m.%Y"+" в "+"%H:%M") %> </p>
 			<%= truncate(whatnew.text, length: 147) %>
 		</div>
 	</div>
 	
 	<hr> 
 	<% end %>
</div>

