<h1>Добавить новость</h1>
<%#= render 'form' %>
<%= form_with scope: :whatnew, url: whatnews_index_path, local: true do |form| %>

	<% if @whatnew.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@whatnew.errors.count, "error") %> prohibited
        this news from being saved:
      </h2>
      <ul>
        <% @whatnew.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <p>
  <%= form.label :caption %>
  <%= form.text_field :caption %>
  </p>
  <p>
    <%= form.label :text %>
    <%= form.text_area :text %>
  </p>
  <p>
    <%= form.label :tag %>
    <%= form.text_field :tag %>
  </p>
  <%= form.submit %>

<% end %>
