
<%= form_with model: [:admin, @photo], html: { multipart: true }, local: true  do |form| %>
	<div class="form-group">
		
			<%= form.label 'Пожалуйста, выбирите событие' %>
			<%= collection_select(:photo, :event_id, Event.all, :id, :ev_title,{},{:class=>'form-control'})%>
			
		
	</div>
	<div class="form-group">
		<%= form.label :ph_name, 'Название' %>
		<%= form.text_field :ph_name, class: 'form-control' %>
	</div>
	<div class="form-group">
		<%= form.label :image, 'Изображение' %>
		<%= form.file_field :image, class: 'form-control-file' %>
	</div>
	<div class="form-check">
	<% unless  @photo.image.blank? %>
			
		    <label>
		      <%= form.check_box :remove_image %>
		      Удалить изображение
		    </label>

  	<% end %>
  	</div>
	<%= form.submit 'Сохранить', class: 'btn btn-primary' %>
<% end %>
