<div class="container">

<h1>User</h1>
<p>
	<strong>First name:</strong>
	<%= @user.firstname %>
</p>
<p>
	<strong>Last name:</strong>
	<%= @user.lastname %>
</p>
<p>
	<strong>phone:</strong>
	<%= @user.phone %>
</p>
<p>
	<strong>e-mail:</strong>
	<%= @user.email %>
</p>
<p>
	<strong>Admin:</strong>
	<%= @user.admin %>
</p>
<p>
	<%= link_to 'Edit profile', edit_user_path(@user) %> |
	<% if current_user.id.to_i == params[:id].to_i %>
		<%= link_to 'Edit email/password', edit_user_registration_path %>|
	<% end %>
	<%= link_to 'Home', root_path %>	
</p>
</div>