<!-- <br> -->
<!-- 
<%= link_to 'Темы', subjects_path %>
<%= link_to 'Новости', whatnews_index_path %>
<%= link_to 'События', events_path %>
<%= link_to 'Фото', photos_path %>
<%= link_to 'Пользователи', admin_users_path %>
 -->


<div class="container">
                
              <div class="base_block">
                  <!-- <center> -->
                    <h1>Новости</h1>
                      <% @whatnews.each do |whatnew| %>
                        <p>
                          <%= link_to whatnew.caption, whatnews_path(whatnew) %>
                        </p>
                      <% end %>
                  <hr>
              </div>

              <div class="base_block">
                  <!-- <center> -->
                    <h1>Программа</h1>
                    <% @subjects.each do |subject| %>
                        <p>
                          <%= link_to subject.title, subject_path(subject) %>
                        </p>
                      <% end %>
                  <!-- </center> -->
                  <hr>
              </div>

              <div class="base_block">
                  <!-- <center> -->
                    <h1>Фотогалерея</h1>
                  <!-- </center> -->
                  <hr>
              </div>
</div>

    <div id="map">
    </div>
          

