<h1>Кружок компьютерных наук</h1>
<p>Find me in app/views/welcome/index.html.erb</p>
<br>
<p>

<% if user_signed_in? %>	
		<%= link_to 'Sign out',  destroy_user_session_path, method: :delete %>
<% else %>
		<%= link_to 'Sign in', new_user_session_path %> |
		<%= link_to 'Sign up', new_user_registration_path %>
<% end %>
</p>
<%= link_to 'Темы', subjects_path %>
<%= link_to 'Новости', whatnews_index_path %>
<%= link_to 'События', events_path %>
<%= link_to 'Фото', photos_path %>
