

<br>

<%= link_to 'Темы', subjects_path %>
<%= link_to 'Новости', whatnews_index_path %>
<%= link_to 'События', events_path %>
<%= link_to 'Фото', photos_path %>
<%= link_to 'Пользователи', users_path %>

<div id="map">
	
</div>
