<!-- <br> -->
<!-- 
<%= link_to 'Темы', subjects_path %>
<%= link_to 'Новости', whatnews_index_path %>
<%= link_to 'События', events_path %>
<%= link_to 'Фото', photos_path %>
<%= link_to 'Пользователи', admin_users_path %>
 -->

<div class="container">           
              <div class="base_block">
                  <!-- <center> -->
                    <h1>Последние новости</h1>
                      
                        <p>
                          
                        </p>
                      
                      <div class="row">
                          <% @whatnews.each do |whatnew| %>    
                            
                              <div class="col-sm-3">
                                <div class="card">

                                    <% if whatnew.imagenews? %>
                                          <%= image_tag(whatnew.imagenews_url,  class: 'card-img-top image_in_card')  %>
                                     <% else %> 
                                          <%= image_tag('no_image.png',  class: 'card-img-top image_in_card') %>         
                                     <% end %>
                                     <!-- <img class="card-img-top" src="..." alt="Card image cap"> -->
                                    <div class="card-body">

                                      <h5 class="card-title"><%= link_to truncate(whatnew.caption, length: 22), whatnews_path(whatnew) %></h5>            
                                      <p class="text-muted"> <%=  whatnew.created_at.strftime("%m.%d.%Y"+" в "+"%H:%M") %> </p>
                                      <p class="card-text"><%= truncate(whatnew.text, length: 67)  %></p>
                                      <!-- <h5 class="card-title"><%= link_to 'Подробнее', whatnews_path(whatnew), class: 'btn btn-primary' %></h5> -->  
                                    </div>
                                </div>
                              </div>
                          <% end %>
                      </div>
                      <div class="row row_link justify-content-end">
                        <div class="col-sm-3 link_welcome align-self-end">
                            <div class="to_right">
                                <h5><%= link_to 'Ещё', whatnews_index_path, class: 'btn btn-primary' %></h5>   
                            </div>
                            
                        </div>
                      </div>
                  <hr>
              </div>

              <div class="base_block">
                  <!-- <center> -->
                    <h1>Программа</h1>
                    <div class="row jumbotron">
                           <% @subjects.each do |subject| %>
                        <div class="col-sm-6 subject_unit">
                          <div class="welcome_subject_text">
                              <h5><%= link_to subject.title, subject_path(subject) %></h5>
                            <p>
                              <%= truncate(subject.description, length: 157) %>
                            </p>
                          </div>  
                        </div>
                          
                        
                      <% end %>   
                    </div>
                   
                  <!-- </center> -->


                    <div class="row row_link justify-content-end">
                      <div class="col-sm-3 link_welcome align-self-end">
                          <div class=" to_right">
                              <%= link_to 'Ещё', subjects_path, class: 'btn btn-primary' %>
                            </div>
                      </div>  
                    </div>
                  <hr>
              </div>

              <div class="base_block">
                  
                    <h1>Cобытия</h1>
                  <div class="row">
                  <% @events.each do |event| %>
                  
                      <div class="col-sm-3 event_unit">
                          
                            <%= link_to event.ev_title, event_path(event) %>
                          
                      </div>
                  
                  <% end %>
                  </div>
                  <!-- <div class="row">
                      <div class="col-sm-3 event_unit">1</div>
                      <div class="col-sm-3 event_unit">2</div>
                      <div class="col-sm-3 event_unit">3</div>
                      <div class="col-sm-3 event_unit">4</div>

                  </div> -->


                 <div class="row row_link justify-content-end">
                        <div class="col-sm-3 link_welcome align-self-end">
                            <div class="to_right">
                                <h5><%= link_to 'Ещё', events_path, class: 'btn btn-primary' %></h5>   
                            </div>
                            
                        </div>
                      </div>
                  <hr>
              </div>
</div>

    <div id="map">
    </div>
          

