<!-- <br> -->
<!-- 
<%= link_to 'Темы', subjects_path %>
<%= link_to 'Новости', whatnews_index_path %>
<%= link_to 'События', events_path %>
<%= link_to 'Фото', photos_path %>
<%= link_to 'Пользователи', admin_users_path %>
 -->


<div class="container">
                
              <div class="base_block">
                  <!-- <center> -->
                    <h1>Новости</h1>
                    <!-- <img src="..." alt="..." class="img-thumbnail"> -->
                  <!-- </center> -->
                  <hr>
              </div>

              <div class="base_block">
                  <!-- <center> -->
                    <h1>Программа</h1>
                  <!-- </center> -->
                  <hr>
              </div>

              <div class="base_block">
                  <!-- <center> -->
                    <h1>Фотогалерея</h1>
                  <!-- </center> -->
                  <hr>
              </div>
</div>

    <div id="map">
    </div>
          

 <div class="footer base_block container">
    Copyright &copy; by Bratanov 2017-2018 | Контакты        
</div>          