<% content_for :page_title do
'Все события'
end %>
<div class="container">
<h1>Все события</h1>
<%= link_to 'Add new event', new_admin_event_path, class: 'btn btn-primary' %>
<table>
		<th>Title</th>
		<th>Description</th>
		<th colspan="3"> </th>
	<% @events.each do |event| %>	
	<tr>	
		<td><%= event.ev_title %></td>
		<td><%= truncate(event.ev_description, length: 50 )%></td>	
		<td><%= link_to 'Show', event_path(event) %></td>
		<td><%= link_to 'Edit', edit_admin_event_path(event) %></td>
		<td><%= link_to 'Destroy', admin_event_path(event) , method: :delete %></td>
	</tr>
	<% end %>
</table>
</div>