<% content_for :page_title do
'Все события'
end %>
<div class="container">
<h1>Все события</h1>
<% if user_signed_in?&&current_user.admin? %>
	<%= link_to 'Добавить новое событие', new_admin_event_path, class: 'btn btn-primary' %>
<% end %>
	<p></p>
<% @events.each do |event| %>
	

	<div class="row">
		<div class="col-4">
			<h4><%= link_to event.ev_title, event_path(event) %></h4>
		</div>
		<div class="col-8">
			<%= truncate(event.ev_description, length: 150 )%>	
			<hr>
		</div>
		
	</div>	
<% end %>
<!-- <table>
		<th>Title</th>
		<th>Description</th>
		<th colspan="3"> </th>
	<% @events.each do |event| %>	
	<tr>	
		<td><%= event.ev_title %></td>
		<td><%= truncate(event.ev_description, length: 50 )%></td>	
		<td><%= link_to 'Show', event_path(event) %></td>
		<td><%= link_to 'Edit', edit_admin_event_path(event) %></td>
		<td><%= link_to 'Destroy', admin_event_path(event) , method: :delete %></td>
	</tr>
	<% end %>
</table> -->
</div>