<% content_for :page_title do
	@event.ev_title
end %>
<div class="container">
	<!-- <h1>Событие</h1> -->
		
		<!-- 	<strong>Event title:</strong> -->
			
		<center><h1><%= @event.ev_title %></h1></center>
		
		<div>
			<%= @event.ev_description %>
		</div>	
			
		
		
		<div class="event_sh_photos">
			<% @event.photos.each do |photo| %>
				<% if photo.image? %>
					<%= link_to (image_tag photo.image.url(:large), width: '164') , photo_path(photo) %>
				<% else %>
					<%= link_to image_tag('no_image.png'), photo_path(photo)  %>
				<% end %>
			<% end %>
		</div>
	<% if user_signed_in?&&current_user.admin? %>		
		<p>
		<%= link_to 'Удалить событие', admin_event_path(@event), method: :delete,
																data: {confirm: 'Вы уверены что хотите удалить событие ' + @event.ev_title + '?'}, class: 'btn btn-outline-secondary' %>
		<%= link_to 'Редактировать', edit_admin_event_path(@event), class: 'btn btn-outline-secondary' %>
		<%= link_to 'Добавить фото', new_admin_photo_path, class: 'btn btn-outline-secondary' %>
		</p> 
		<% end %>
</div>