<div class="container">

<h1>Все темы</h1>
<%= link_to 'Новый предмет', new_admin_subject_path, class: 'btn btn-primary' %><br> 
<table>
  <tr>
  	<th>id</th>
    <th>Тема</th>
    <th>Описание</th>
    <th>updated at</th>
  </tr>
 
  <% @subjects.each do |subject| %>
    <tr>
    	<td><%= subject.id %></td>
      <td><%= subject.title %></td>
      <td><%= truncate(subject.description, length: 17) %></td>
      <td><%= subject.updated_at %></td>
      <td><%= link_to 'Показать', subject_path(subject) %></td>
      <td><%= link_to 'Редактировать', edit_admin_subject_path(subject) %></td>
      <td><%= link_to 'Удалить', admin_subject_path(subject), method: :delete,data: {confirm: 'Вы уверены?'} %></td>
    </tr>
  <% end %>
</table>
<!-- <%= link_to 'Домой', root_path %> -->
</div>