<h1>New photo</h1>
<%= form_with model: @photo, local: true do |form| %>
	<p>
		<%= form.label :phname %>
		<%= form.text_field :phname %>
	</p>
	<p>
		<%= form.label :image %>
		<%= form.file_field :image %>	
	</p>	
	<%= form.submit %>
<% end %>
<%= link_to 'Home', root_path %>