<h1>All users</h1>
<table>
	<tr>
		
			<th>First name</th>
			<th>Last name</th>
			<th> e-mail </th>
			<th>phone</th>
			<th>admin</th>
			
	</tr>
	
	<% @users.each do |user| %>
		<tr>
			<td><%= user.firstname %></td>	
			<td><%= user.lastname %></td>	
			<td><%= user.email %> </td>
			<td><%= user.admin %> </td>
			 
		</tr>
	<% end %>
</table>
<p>
	<%= link_to 'Home', root_path %>
</p>