
<!DOCTYPE html>
<html>
  <head>

    <!-- <title>Fancy geek</title> -->
    <title>
    <%- if content_for? :page_title -%>
        <%= yield :page_title %> – Fancy geek
      <%- else -%>
        Fancy geek
      <%- end -%>
    </title>

    <%= favicon_link_tag 'favicon_proj_b.ico' %>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
   <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCAVW5Dt4SR_7vMGpR-lN_XXX-KLYoJwAQ&callback=initMap"
    async defer></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link href="assets/css/bootstrap-responsive.css" rel="stylesheet"> -->
  </head>

<body class="site">
    <main class="site-content">
     
      <%= render 'layouts/navbar' %> <!-- rendering navbar of site from app/views/layouts/_navbar.html.erb -->

            <p class="notice"><%= notice %></p>
            <p class="alert"><%= alert %></p>
        
            <%= yield %>        

            <button onclick="topFunction()" id="myBtn" title="Go to top">Вверх</button>
    </main>
            
            

 
      <%= render  'layouts/footer' %> <!-- rendering footer of site from app/views/layouts/_footer.html.erb -->
  
  

</body>
</html>
